body{
    font-family: sans-serif;
    background-color: white;
}

.Imagenes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Imagenes-container .Imagen{
    position: relative;
    margin-right: -20px;
    display: inline-flex;
    flex-direction: column;
}

.Imagenes-container .Imagen img{
    width: 150px;
    height: 150px;
    transition: transform 0.34s ease-in-out;
}

.Imagenes-container .Imagen .nombre{
    position: absolute;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: none;
    min-width: 100px;
    width: 150px;
    top: -55px;
    left: calc(-50% -30px);
    padding: 10px 15px;
}

.Imagenes-container .Imagen .nombre .text{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    width: 150px;
    text-align: center;
    box-sizing: border-box;

}

.Imagenes-container .Imagen:hover .nombre{
    display: inline-block;
    transform: translateY(-20px);
}

.Imagenes-container .Imagen .nombre::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    left: 30%;
    bottom: -20px;
    border-top: 10px solid red;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.Imagenes-container .Imagen:hover img{
    transform: translateY(-20px);
}

@media (max-width: 680px){
    .Imagenes-container{
        flex-direction: column;
        height: 180vh;
    }
}


